.pnpt-section {
	padding-top: 3%;
}

.pnpt-section h2{
	text-align: center;
}

.pnpt-section h3 {
	text-align: center;
}

.section-contain{
	width: 700px;
	margin: 0 auto;
	padding-top: 5%;
}
.value-prop{
	width: 200px;
	height: 300px;
	background-color: grey;
	float: left;
	margin-right: 7.1%;
}

.value-prop:last-child {
	margin-right: 0;
}

.value-number {
	background-color: #000;
	color: white;
	padding: 5%;
	border-radius: 50%;
	margin: 5% 40%;
	text-align: center;
}

.value-prop h4, .value-prop h5{
	text-align: center;
}

.value-prop h5 {
font-weight: lighter;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  
  justify-content: space-around;
}
